$dialog-index-base: 9999 !default;
$dialog-overlay-opacity: 0.5 !default;
$dialog-overlay-background: #000 !default;
$dialog-background: #fff !default;
$dialog-border-width: 0 !default;
$dialog-border-color: false !default;
$dialog-box-shadow: 0 0 10px !default;
$dialog-max-width: 850px !default;
$dialog-margin: 30px !default;
$dialog-padding: 30px !default;

$dialog-native: false !default;
