@import "Base";

@if $dialog-native {
  dialog[open] {
    display: block;

    &::backdrop {
      animation: dialog__overlay 0.2s 1 both;
    }

    > .dialog__content {
      animation: dialog__content 0.4s 0.15s 1 both;
    }
  }
}

.dialog:not([aria-hidden="true"]) {
  > .dialog__overlay {
    animation: dialog__overlay 0.2s 1 both;
  }

  > .dialog__content {
    animation: dialog__content 0.4s 0.15s 1 both;
  }
}

.dialog__overlay {
  background-color: rgba($dialog-overlay-background, $dialog-overlay-opacity);
}

.dialog__title {
  outline: none;
}

.dialog__content {
  background: $dialog-background;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - #{$dialog-margin});
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: $dialog-padding;
  width: calc(100vw - #{$dialog-margin});
  max-width: $dialog-max-width;
  margin: 0 auto;

  @if $dialog-box-shadow {
    box-shadow: #{$dialog-box-shadow} rgba($dialog-overlay-background, $dialog-overlay-opacity);
  }

  @if $dialog-border-width != 0 and $dialog-border-width and $dialog-border-color {
    border: $dialog-border-width solid $dialog-border-color;
  } @else {
    border: 0;
  }

  @media only screen and (max-width: 400px) {
    width: 100vw;
  }
}

.dialog__close {
  user-select: none;
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  color: inherit;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: $dialog-index-base + 10;
  box-shadow: none;
  touch-action: manipulation;
  text-shadow: 1px 1px 2px #fff;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }

  &:active {
    transform: translateY(1px);
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

@keyframes dialog__overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dialog__content {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
